.wrapper-menu {
  height: 100%;
  display: flex;
}
.menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 5px;
  &:hover {
    background-color: #ff4800;
    .title {
      color: #fff;
    }
  }
  &.active {
    background-color: #ff4800;
    .title {
      color: #fff;
    }
  }
}
.title {
  padding: 30px 15px;
  color: #1f1f2e;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (max-width: 1000px) {
  .wrapper-menu {
    flex-direction: column;
  }
}
