.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap-2-button {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-tab {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 226, 226);
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: rgb(116, 113, 113);
  }
}
.btn-tab-active {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(116, 113, 113);
  border: none;
  outline: none;
  cursor: pointer;
}
